body {
    background: black;
}
#header {
    background: black;
}
.top {
    background: white;
}

h1 {
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
}
nav {
    text-align: center;
    background: black;
    color: white
}
.video {
    text-align: center;
    justify-content: space-around;
}
p {
    text-align: center;
}
.cards {
    text-align: center;
}
#avenge {
    font-style: italic;
}
.tabs {
    color: red;
     
}
#quiz-link {
    color: blue;
}
h2 {
    color: white;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#tags {
    color: red;
}
#footer {
    text-align: center;
}